<% render partial: 'common/header'  %>

  <div class="site-hero">

  </div>


  <!-- HISTORY OF AGENCY -->
  <div class="container">
    <div class="agency" style="margin-top:0">
      <div class="col-md-5 col-sm-12">
        <div class="row">
          <img src="assets/img/agency.jpg" alt="image">
        </div>
      </div>
      <div class="col-md-offset-1 col-md-6 col-sm-12">
        <div class="row">
          <div class="section-title uppercase">
            <span>22. maijā, Bīglu saostīšanās 2016</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor nisi ut aliquip ex ea commodo
            consequat. in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. 
          </p>
          <a href="#" class="btn green" style="float:right;margin-top:30px"><span>PIESAKIES</span></a>
        </div>
      </div>
    </div>
  </div>


  <!-- WHY CHOOSE US -->
  <section class="services">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <span>Kas ir bīglu saostīšanās?</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>

      <div class="col-md-7 col-sm-12 services-left wow fadeInUp">
        <div class="row" style="margin-bottom:50px">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <i class="icon ion-ios-infinite-outline"></i>
              <span class="montserrat-text uppercase service-title">Socializācijas ar sugas brāliem</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <i class="icon ion-ios-shuffle"></i>
              <span class="montserrat-text uppercase service-title">Ziedojumu vākšana suņu patversmei</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <i class="icon ion-ios-cart-outline"></i>
              <span class="montserrat-text uppercase service-title">Jaunu draugu atrašana</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <i class="icon ion-ios-settings"></i>
              <span class="montserrat-text uppercase service-title">Iespēja izkustēties</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-12 services-right wow fadeInUp" data-wow-delay=".1s">
        <div class="row">
          <img src="assets/img/serv.jpg" alt="image">
        </div>
      </div>

    </div>
  </section>


  <!-- PORTFOLIO -->
  <section class="portfolio">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <span>Kā ir gājis lidz šim</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
        

      <!-- categories  -->
      <div class="col-md-3">
        <div class="row categories-grid wow fadeInLeft">
          <span class="montserrat-text uppercase">Izvēlies galeriju</span>

          <nav class="categories">
            <ul class="portfolio_filter">
              <li><a href="" class="active" data-filter="*">VISAS</a></li>
              <% Album.where(visible: true).each do |album| %>
                  <li><a href="" data-filter=".album_<%= album.id %>"><%= album.title %></a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <!-- all works -->
      <div class="col-md-9">
        <div class="row portfolio_container">
          <% if Album.last  %>
            <% Album.where(visible: true).each do |album| %>
              <% album.album_images.order('position asc').each do |album_image| %>
                  <!-- single work -->
                <div class="col-md-4 album_<%= album.id %>">
                  <a href="single-project.html" class="portfolio_item work-grid wow fadeInUp">
                    <img src="<%= album_image.image.url(:large) %>" alt="image">
                    <div class="portfolio_item_hover">
                      <div class="item_info">
                        <span><%= album_image.album.title rescue '-' %></span>
                        <em><%= album_image.album.title rescue '-' %></em>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- end single work -->  
              <% end %>
            <% end %>  
          <% end %>  
        </div>
        <!-- end row -->
      </div>
      <!-- all works end -->
    </div>
    <!-- end container -->
  </section>
  <!-- portfolio -->

<%= render partial: 'common/member_upload_form' %> 

<%= render partial: 'common/footer'  %>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      new WOW().init();

      // initialise flexslider
      $('.site-hero').flexslider({
        animation: "fade",
        directionNav: false,
        controlNav: false, 
        keyboardNav: true,
        slideToStart: 0,
        animationLoop: true,
        pauseOnHover: false,
        slideshowSpeed: 4000, 
      });


      // initialize isotope
      var $container = $('.portfolio_container');
      $container.isotope({
        filter: '*',
      });
     
      $('.portfolio_filter a').click(function(){
        $('.portfolio_filter .active').removeClass('active');
        $(this).addClass('active');
     
        var selector = $(this).attr('data-filter');
        $container.isotope({
          filter: selector,
          animationOptions: {
            duration: 500,
            animationEngine : "jquery"
          }
        });
        return false;
      }); 
    });
  </script>