  <header class="main-header">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="<%= image_path 'img/logo.png' %>" alt="logo"></a>
      </div>

      <div class="menu">
        <!-- desktop navbar -->
        <nav class="desktop-nav">
          <ul class="first-level">
            <% @top_pages.each_with_index do |page,index| %>
             <% if page.has_children? %>
               <ul class="second-level">
                 <% page.children.where(:visible => true).order("position asc").each do |child| %> 
                    <li><a href="<%= lapa_path(child.slug) %>" class="animsition-link"><%= child.title %></a></li>
                 <% end %>   
              </ul>
             <% else %>
                <li><a href="<%= lapa_path(page.slug) %>" class="animsition-link"><%= page.title  %></a></li>
             <% end %>
            <% end %> 
          </ul>
        </nav>
        <!-- mobile navbar -->
        <nav class="mobile-nav"></nav>
        <div class="menu-icon">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </header>

